<mat-card *ngIf="memoryData">
  <mat-card-header>
    <mat-card-title>
      Memory
    </mat-card-title>
    <mat-card-subtitle>
      Total: {{memoryData.total_human.value}} {{memoryData.total_human.unit}}
      Available: {{memoryData.available_human.value}} {{memoryData.available_human.unit}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <canvas baseChart chartType="horizontalBar" [options]="chartOptions" [datasets]="chartData" [colors]="chartColors"></canvas>
    </div>
  </mat-card-content>
</mat-card>