<mat-sidenav-container class="mat-typography">
  <mat-sidenav #sidenav mode="side" [opened]="openSidenav | async">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['dashboard']" routerLinkActive="app-active-link">Dashboard</a>
      <a mat-list-item [routerLink]="['settings']" routerLinkActive="app-active-link">Settings</a>
      <a mat-list-item [routerLink]="['remote-control']" routerLinkActive="app-active-link">Remote Control</a>
      <a mat-list-item [routerLink]="['sundtek']" routerLinkActive="app-active-link">Sundtek</a>
      <a mat-list-item [routerLink]="['packages']" routerLinkActive="app-active-link">Packages</a>
      <a mat-list-item [routerLink]="['system']" routerLinkActive="app-active-link">System</a>
      <a mat-list-item (click)="logout()" *ngIf="isLoggedIn | async">Logout</a>
      <app-update></app-update>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <button type="button" mat-button (click)="toggleSidenav()" fxShow fxHide.gt-sm="true">
        <i class="fa fa-bars"></i>
      </button>
      <a mat-button [routerLink]="['home']">
        <h1>{{title}}</h1>
      </a>
    </div>
    <app-error [error]="error"></app-error>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>