<div fxLayout="row wrap" fxLayout.lt-sm="column">
  <div fxFlex="calc(50% - 20px)" fxFlex.gt-md="calc(25% - 20px)" class="component-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a mat-button [routerLink]="['/dashboard']">Dashboard</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Gives an overview about the status of your VDR like temperatures, disk and memory usage.
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="calc(50% - 20px)" fxFlex.gt-md="calc(25% - 20px)" class="component-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a mat-button [routerLink]="['/settings']">Settings</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua.
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="calc(50% - 20px)" fxFlex.gt-md="calc(25% - 20px)" class="component-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a mat-button [routerLink]="['/remote-control']">Remote Control</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua.
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="calc(50% - 20px)" fxFlex.gt-md="calc(25% - 20px)" class="component-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a mat-button [routerLink]="['/sundtek']">Sundtek</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua.
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="calc(50% - 20px)" fxFlex.gt-md="calc(25% - 20px)" class="component-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a mat-button [routerLink]="['/packages']">Packages</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua.
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="calc(50% - 20px)" fxFlex.gt-md="calc(25% - 20px)" class="component-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a mat-button [routerLink]="['/system']">System</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        aliquyam erat, sed diam voluptua.
      </mat-card-content>
    </mat-card>
  </div>
</div>