<ng-container *ngIf="cpuData">
  <mat-card>
    <mat-card-content>
      <div style="max-width: 300px">
        <canvas baseChart chartType="horizontalBar" [options]="cpuChartOptions" [datasets]="cpuChartData"></canvas>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div style="max-width: 300px">
        <canvas baseChart chartType="horizontalBar" [options]="loadChartOptions" [datasets]="loadChartData"></canvas>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>