<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>CPU</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field>
        <input matInput readonly placeholder="Number of CPUs" [value]="systemStatus.cpu_num">
      </mat-form-field>
      <mat-form-field *ngFor="let l of systemStatus.load_average; let first = first">
        <input matInput readonly [placeholder]="first ? 'Load' : ''" [value]="l">
      </mat-form-field>
      <div>
        <label>Usage</label>
        <app-cpu-usage *ngFor="let u of systemStatus.cpu_usage" [cpuUsage]="u"></app-cpu-usage>
      </div>
    </div>
  </mat-card-content>
</mat-card>