<div>
  <h2>
    Dashboard
    <ng-container *ngIf="spinner.isLoading | async; else reloadTemplate">
      <app-spinner [data]="spinner"></app-spinner>
    </ng-container>
    <ng-template #reloadTemplate>
      <button mat-mini-fab type="button" (click)="reload()">
        <i class="fa fa-repeat"></i>
      </button>
    </ng-template>
  </h2>

  <app-error [error]="error"></app-error>

  <ng-container *ngIf="systemStatus | async as status">
    <div fxLayout="row wrap" fxLayoutGap="2px">
      <div fxFlex>
        <app-dashboard-system [systemData]="status"></app-dashboard-system>
      </div>
      <div fxFlex>
        <app-dashboard-usage [usageData]="status"></app-dashboard-usage>
      </div>
      <div fxFlex>
        <app-dashboard-temperature [temperatureData]="status.temperatures"></app-dashboard-temperature>
      </div>
      <div fxFlex>
        <app-dashboard-fan [fanData]="status.fans"></app-dashboard-fan>
      </div>
    </div>
  </ng-container>
</div>