<div>
  <h2>
    Dashboard
    <ng-container *ngIf="spinner.isLoading | async; else reloadTemplate">
      <app-spinner [data]="spinner"></app-spinner>
    </ng-container>
    <ng-template #reloadTemplate>
      <button mat-mini-fab type="button" (click)="reload()">
        <i class="fa fa-repeat"></i>
      </button>
    </ng-template>
  </h2>

  <app-error [error]="error"></app-error>

  <ng-container *ngIf="systemStatus | async as status">
    <div fxLayout>
      <div fxFlex>
        <app-system [systemData]="status"></app-system>
      </div>
    </div>
    <div fxLayout>
      <div fxFlex="1 1 800px">
        <app-status [statusData]="status"></app-status>
      </div>
    </div>
    <div fxLayoutWrap>
      <div fxFlex="1 1 400px">
        <app-cpu [cpuData]="status"></app-cpu>
      </div>
      <div fxFlex="1 1 400px">
        <app-load [loadData]="status"></app-load>
      </div>
      <div fxFlex="1 1 400px">
        <app-memory [memoryData]="status.memory_usage"></app-memory>
      </div>
      <div fxFlex="1 1 400px">
        <app-swap [swapData]="status.swap_usage"></app-swap>
      </div>
      <div fxFlex="1 1 400px" *ngFor="let du of status.disk_usage">
        <app-disk [diskData]="du"></app-disk>
      </div>
    </div>
  </ng-container>
</div>