<mat-card *ngIf="diskData">
  <mat-card-content>
    <div>
      <mat-form-field>
        <input matInput readonly placeholder="Device" [value]="diskData.device">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput readonly placeholder="Mountpoint" [value]="diskData.mountpoint">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput readonly [placeholder]="'Total ' + diskData.total_human.unit" [value]="diskData.total_human.value">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
          <input matInput readonly [placeholder]="'Used ' + diskData.used_human.unit" [value]="diskData.used_human.value">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
          <input matInput readonly [placeholder]="'Free ' + diskData.free_human.unit" [value]="diskData.free_human.value">
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>